@import url("animations.css");

.button {
    background-color: blueviolet;
}

.button:hover {
    background-color: blue;
}

.christmas {
    background-image: url(../assets/christmas-pattern.png);
}

body {
    width: 99%;
    background-color: rgb(12, 36, 13);
    color: azure;
}

p.title {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: black;
}

p.greyed {
    color: darkgrey;
}

.box {
    flex: 1;
}


a {
    color: beige;
}

a:hover {
    color: cadetblue;
}

.bborder {
    border: solid black;
    text-align: center;
}


h3.cword {
    margin: 10px;
    font-size: 24px;
    transition: transform 0.2s, color 0.2s;
    display: inline-block;
}

h3.cword:nth-child(odd) {
    transform: rotate(-5deg);
}

h3.cword:nth-child(even) {
    transform: rotate(5deg);
}

h3.cword:hover {
    transform: scale(1.1);
}

.word1 {
    color: #ffffff;
}

.word2 {
    color: #e0ffe0;
}

.word3 {
    color: #b2ffb2;
}

.word4 {
    color: #80ff80;
}

.word5 {
    color: #4dff4d;
}

.word6 {
    color: #ff99cc;
}

.word7 {
    color: #ccffcc;
}

.word8 {
    color: #99ccff;
}

.word9 {
    color: #ffcc99;
}

.word10 {
    color: #ffb3e6;
}


.cloud {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.topnav {
    z-index: 1;
    width: 99%;
    top: 0;
    position: fixed;
    background-color: rgb(29, 61, 35);
}

.topnav a {
    float: left;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: beige;
    color: black;
}

.topnav a.active {
    background-color: rgba(127, 255, 212, 0.2);;
    color: beige;
}

.navbar{
    top: 0;
    position: fixed;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(42, 59, 45);
    padding-top: 50px;
    margin: 0px;
    width: 150px;
    height: 100%;
    position: fixed;
    overflow: auto;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
.navbar a {
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgba(127, 255, 212, 0.2);;
}


.switchdiv {
    display: flex;
    margin-right: 20px;
    margin-top: 7px;
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.boxes{
      
    display: flex;
    flex-direction: row;
    }
    
    
.box1{
    border: solid;
    width: 80px;
    height: 80px;
    margin: 20px;
    color: black;
    background-color: red;
    border-color: black;
    font-size: 30px; 
    /* margin-top: 100px; */
    display: block;
}


.box2{
    border: solid;
    width: 160px;
    height: 160px;
    margin: 20px;
    color: black;
    background-color: red;
    border-color: black;
    font-size: 30px; 
}

div.tables{
    justify-content: center; 
    align-items: center;
    text-align: center;
}

div.moving{ 
    width: 30%;
    animation: 4s ease-in-out infinite;
    animation-name: interesting_bouncing_animation;
    position: relative;
}

div.rainbow{
    border: 2px solid rgb(204, 186, 186);
    padding: 10px;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    
}
table.stylish{
    background-color: #0099ff;
}
table.stylish th{
    height: 50px;
    background-color: green;
}
table.stylish tr:nth-child(even){
    background-color: #487456;    
}
table.stylish tr:nth-child(odd){
    background-color: #4c524e;    
}
table.stylish tr:nth-child(even):hover{
    transform: rotate(5deg);
}
table.stylish tr:nth-child(odd):hover{
    transform: scale(1.1);
}

.card {
    width: 200px;
    height: 300px;
    perspective: 1000px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  .card-front {
    background-color: #3498db;
  }
  
  .card-back {
    background-color: #2ecc71;
    transform: rotateY(180deg);
  }

  .catImg{
    border-radius: 50%; 
    height: 30%;
    border-style: groove;
    border-width: 10px;
    border-color: #4b810d;
  }
  .fishImg{
    border-radius: 50%; 
    height: 30%;
    border-style: groove;
    border-width: 10px;
    border-color: #2575cf;
  }


  #logDiv{
    width: 40%;
    height: 102px;
    background-color: rgba(0, 102, 255, 0.308);
    overflow-y: auto;
    border: 2px solid #231b4e9a;
    padding: 10px;
  }